@import "tailwindcss" source("../");
@source "../src";


@source "../blocks";
@source "../layout";
@source "../sections";
@source "../snippets";
@source "../templates";
@source "../assets";

@theme {
    /* START: Breakpoints */
    --breakpoint-xs: 30rem;
    /* END: Breakpoints */

    /* START: Fonts */
    --font-main: "Work Sans Variable";
    --font-secondary: "Spicy Rice";
    /* END: Fonts */
    
    /* START: Colors */
    --color-primary: #FFE041;
    --color-secondary: #66645F;

    --color-btn-primary: #D9D9D9;
    
    --color-neutral: #F1F0ED;
    /* END: Colors */
}

/* START: Utilities */
.container {
    @apply max-w-7xl mx-auto w-[85%] sm:w-[90%];
}

.section-padding {
    @apply py-16 md:py-20;
}

.copy-base {
    @apply text-secondary text-balance uppercase tracking-[-1px] sm:tracking-[-2px] font-bold leading-tight;
}

.header-main {
    @apply text-black font-sans font-black italic uppercase tracking-[-2px] [-webkit-text-stroke:3px_black] md:[-webkit-text-stroke:5px_black] leading-[0.875];
}

.header-main--primary {
    @apply text-primary;
}

.header-punk {
    @apply text-black font-secondary uppercase tracking-[-2px] [-webkit-text-stroke:2px_black] md:[-webkit-text-stroke:3px_black] leading-none;
}

.header-punk--primary {
    @apply text-primary;
}

.header-punk--section-header {
    @apply text-5xl md:text-[4rem];
}

button,
a.btn,
.btn {
    @apply block bg-neutral hover:bg-primary text-black font-secondary uppercase tracking-[-2px] md:text-[1.5rem] max-w-[300px] mx-auto w-full rounded-full border border-4 tracking-[0.125px] transition-all duration-160 ease-in-out p-0.5 text-center;
}

.btn--primary {
    @apply bg-primary! hover:bg-neutral!;
}
/* END: Utilities */